@model Subscription_based_marketing.DTO.SubscriptionDto
@{
    ViewData["Title"] = "PremiumDashBoard";
    Layout = "~/Views/Shared/_PremiumDash.cshtml";
}
<br />
<br />
<h1>PremiumDashBoard</h1>


<div>
    <h4>Subscription Information </h4>
    <hr />
    <dl class="row table-bordered">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionStatus)
        </dd>
        <dt class="col-sm-2">
            Subscription Duration
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionBillingFrequency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionStartDate)
        </dd>
        <dt class="col-sm-2">
           Next Billing Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionNextBillingDate)
        </dd>
      

    </dl>
</div>
