@model IEnumerable<Subscription_based_marketing.DTO.ServiceDto >

@{
    ViewData["Title"] = "SubscriptionList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>SubscriptionList</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ServiceTitle)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ServiceDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceFeature)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ServicePrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ServiceLevel)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ServiceTitle)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceFeature)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ServicePrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ServiceLevel)
                </td>

                <td>

                    <a asp-action="PaymentProcess" asp-route-id="@item.ServiceID" class="btn btn-outline-success">BUY SERVICE </a> 

                    
                </td>
            </tr>
        }
    </tbody>
</table>
